/* App/Main */

body {
	background-color: #bf0000;
	background-image: url('https://jonahs-wall-app.web.app/brick-wall.png');
	min-height: 100vh;
}

.container {
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* Header */

.navbar-brand {
	font-family: 'Gochi Hand', cursive;
	font-size: 50px !important;
	color: white !important;
	text-shadow: 1px 1px 4px #000000;
}

.signin-button,
.signup-button,
.post-button {
	background-color: #ff1b1b;
	background-image: url('https://jonahs-wall-app.web.app/brick-wall.png');
	padding: 0.5rem 0.75rem;
	margin-right: 1rem;
}
.signin-button:hover,
.signup-button:hover,
.post-button:hover {
	color: white;
	border-color: white;
	transition: color 0.25s ease-in-out, border-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;
}

/* Wall */

.card-columns {
	display: flex;
	justify-content: space-evenly;
	justify-items: center;
}

.card {
	background-color: #ff1b1b;
	background-image: url('https://jonahs-wall-app.web.app/brick-wall.png');
	margin: 0.5rem auto;
	border: 1px solid #000000;
	border-radius: 0;

	width: 400px;
	height: auto;
}

.card-title {
	font-family: 'Gochi Hand', cursive;
	font-size: 30px;
	text-shadow: 1px 1px 1px #ffffff;
}

.card-text {
	font-family: 'Gochi Hand', cursive;
	font-style: italic;
	color: rgb(214, 214, 214);
	text-shadow: 1px 1px 1px #000000;
}

/* Wall */

.modal-content {
	background-color: #bf0000;
	background-image: url('https://jonahs-wall-app.web.app/brick-wall.png');
	border: 1.5px solid #000000;
	border-radius: 0;
	margin: auto;
}

.modal-footer {
	justify-content: flex-start;
}

.form-label {
	color: black;
	font-size: 16px;
}

.close,
.submitBtn {
	color: black;
	background-color: #ff1b1b;
	background-image: url('https://jonahs-wall-app.web.app/brick-wall.png');
	padding: 0.5rem 0.75rem;
	border-width: 2px;
	border-radius: 0;
	border-color: #242424;
}

.close:hover,
.submitBtn:hover {
	color: white;
	border-color: white;
	background-color: #ff1b1b;
	background-image: url('https://jonahs-wall-app.web.app/brick-wall.png');
	transition: color 0.25s ease-in-out, border-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;
}

/* Mobile */

@media (max-width: 600px) {
	.navbar {
		flex-direction: column;
	}
}
